.assets{
    grid-area:a ;
}
.color{
    background-color:darkgray;
    margin: 0px;
    padding-left: 10px;
}

.ulBlock {
    padding-left: 30px;
}
.assets1 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.closeBtn {
    margin-left: 193px;
    margin-top: 10px;
}