.mapContainer{
    grid-area: m;
    align-self: flex-end;
    width: 100%;
    height: 98%;
}
.color{
    background-color:darkgray;
    margin: 0px;
    padding-left: 10px;
}
.conteiner {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}